h1{ background:blue ;
    color: yellow;
    height: 33px;
    line-break: 20px;
    text-align: center;
 font-size: 30px; 
padding: 32px 32px;
text-decoration: overline;

text-align: center;
display: revert-layer;

}


h2{
     background-color: yellow;
font-size: 20px 23px;
height: 30px;

}


{
     
}